* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
h1 {
  font-size: 50px;
  list-style: 64px;
  color: #222;
}
h2 {
  font-size: 45px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 600;
  font-size: 17px;
}
p {
  font-size: 16px;
  color: #465b52;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}
body {
  width: 100%;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#hero {
  height: 90vh;
  width: 100%;
  padding: 0 80px;
  background-position: top 25% right 0;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: url(img/hero4.png);
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: #088178;
}

#hero button {
  background-image: url("img/button.png");
  background-color: transparent;
  border: 0;
  color: #088178;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 15px;
}
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(10, 62, 221, 0.1);
}
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  background-color: #fddde4;
  border-radius: 4px;
}
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}
#product1 {
  text-align: center;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  margin: 15px 15px;
  position: relative;
  transition: 0.2s ease;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgba(243, 181, 25);
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #e8f6ea;
  color: #088178;
  border-radius: 50px;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
  /* font-weight: 500; */
}
.pro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-image: url(img/banner/b2.jpg);
}
#banner h4 {
  color: white;
  font-size: 16px;
}
#banner h2 {
  color: white;
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span {
  color: #da1111;
  /* font-size: 16px; */
}
button.normal {
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  padding: 15px 30px;
  border: none;
  outline: none;
  color: #000;
  cursor: pointer;
  transition: 0.2s;
  background-color: whitesmoke;
}
#banner button:hover {
  color: white;
  background-color: #088178;
}
#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  min-width: 680px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-image: url(img/banner/b17.jpg);
}
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner h4 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 10px;
}
button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
  background-color: transparent;
}
#sm-banner .banner-box:hover button {
  background-color: #088178;
  border: 1px solid #088178;
}
#sm-banner .banner-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  min-width: 680px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-image: url(img/banner/b10.jpg);
}
#banner3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 80px;
}
#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  background-image: url(img/banner/b7.jpg);
  margin-bottom: 20px;
}
#banner3 h2 {
  color: white;
  font-weight: 900px;
  font-size: 22px;
}
#banner3 h3 {
  color: #da1111;
  font-weight: 600;
  font-size: 15px;
}
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter p {
  font-size: 15px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter p span {
  color: #ffbd27;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button {
  background-color: #088178;
  color: white;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#newsletter .form {
  display: flex;
  flex-direction: row;
  width: 40%;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

fotter .install img {
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover {
  color: #088178;
}
#mobile {
  display: none;
  align-items: center;
}

@media screen and (max-device-width: 799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #navbar.active {
    right: 0;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
}
